target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Local database files
data/
*.db
*.mv.db
*.trace.db

# IDE Files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Logs
*.log
